@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Palanquin+Dark:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f4f4f4;
  color: #000000;
  margin: 0px !important;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 1680px;
  z-index: 1000;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Palanquin Dark', sans-serif;
  background-color: #000000;
  color: #fff;
  padding: 1em 0;
  text-align: center;
}

header h1 {
  font-size: 2em;
  font-weight: bold;
}

header nav {
  margin-top: 10px;
}

header nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

header nav a:hover {
  text-decoration: underline;
}

main {
  text-align: center;
  padding-top: 10px;
  overflow: hidden;
}

nav {
  font-size: 20px;
}

nav a {
  text-decoration: none !important;
  color: white;
}

nav a:hover {
  color: #29A020;
  /* Hover color */
  text-decoration: none !important;
}

.welcome-text {
  font-size: 1.5em;
  margin-top: 1em;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-link {
  text-decoration: none;
  color: inherit;
}

.search {
  position: relative;
  width: 300px;
}

.search input[type="text"] {
  width: 100%;
  padding: 10px 45px 10px 20px;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.search input[type="text"]:focus {
  outline: none;
  border-color: #29A020;
}

.search input::placeholder {
  color: #aaa;
  font-style: italic;
}

.search button {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

.search button i {
  font-size: 18px;
}

.search button:hover i {
  color: #29A020;
}

.iframe-container {
  height: 100vh;
  position: relative;
}

.iframe {
  height: 100%;
  width: 100%;
}

.direction-button {
  position: absolute;
  bottom: 80px;
  right: 20px;
  font-size: 38px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, transform 0.3s;
  overflow: visible;
  z-index: 2;
}

.direction-button:hover {
  transform: translateY(-4px);
}

.direction-button:active {
  transform: translateY(2px);
}


.direction-button::before {
  content: "Open in Google Maps";
  position: absolute;
  top: 50%;
  right: -100%;
  transform: translateY(-50%);
  background-color: #000000;
  color: white;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  transition: right 0.3s ease, opacity 0.3s;
  opacity: 0;
  z-index: 3;
}

.direction-button:hover::before {
  right: 120%;
  opacity: 1;
}

footer {
  position: fixed;
  bottom: 0;
  /* width: 100%; */
  width: 1680px;
  text-align: center;
  padding: 1em;
  background-color: black;
  color: white;
  z-index: 10;
}

#home-slider {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url('/evcharging.png') no-repeat center center;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  transform: translateY(0);
  transition: transform 1s ease-in-out;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: rgba(0, 0, 0, 0.1);
}

#homeclick-btn {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  background-color: #29A020;
  color: white;
  border: none;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#homeclick-btn i {
  font-size: 35px;
}

#loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  z-index: 10;
}

.spinner {
  position: relative;
  width: 80px;
  height: 80px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #29A020;
  border-radius: 50%;
  position: absolute;
  animation: spin 1.2s linear infinite;
}

.dot:nth-child(1) {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dot:nth-child(2) {
  top: 14%;
  left: 85%;
  transform: translate(-50%, -50%);
}

.dot:nth-child(3) {
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.dot:nth-child(4) {
  top: 85%;
  left: 85%;
  transform: translate(-50%, -50%);
}

.dot:nth-child(5) {
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dot:nth-child(6) {
  top: 85%;
  left: 14%;
  transform: translate(-50%, -50%);
}

.dot:nth-child(7) {
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
}

.dot:nth-child(8) {
  top: 14%;
  left: 14%;
  transform: translate(-50%, -50%);
}

@keyframes spin {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }
}

#map {
  height: 100vh;
  width: 100%;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  line-height: 18px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

#locate-button {
  position: absolute;
  top: 600px;
  right: 20px;
  z-index: 1000;
  width: 60px;
  height: 60px;
  background: black;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

#locate-button i {
  color: white;
  font-size: 24px;
}

#locate-button:hover {
  transform: translateY(-4px);
}

#locate-button:active {
  transform: translateY(2px);
}

#locate-button::before {
  content: "Locate Me";
  position: absolute;
  top: 50%;
  right: -100%;
  transform: translateY(-50%);
  background-color: #020202;
  color: rgb(255, 255, 255); /* Make sure the text color is black for contrast */
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
  white-space: nowrap;
  transition: right 0.3s ease, opacity 0.3s;
  opacity: 0;
  z-index: 3;
}

#locate-button:hover::before {
  right: 120%;
  opacity: 1;
}


.leaflet-control-geocoder {
  border: 2px !important;
  border: 4px solid #29A020 !important;
  border-radius: 25px;

}

.leaflet-control-geocoder input {
  width: 800px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 25px;
  color: #000000;
  background-color: #ffffff;
}

.leaflet-control-geocoder .leaflet-bar button {
  background-color: #29A020;
  border: none !important;
  color: white;
  font-size: 18px;
  padding: 8px;
  border-radius: 0%;
}

.leaflet-control-geocoder .leaflet-bar button:hover {
  background-color: #1f7a1f;
}

.leaflet-control-geocoder input::placeholder {
  color: #000000;
}

.leaflet-control-geocoder-icon {
  display: none !important;
}

.leaflet-control-geocoder-alternatives {
  width: auto !important;
  padding: 5px;
}

.leaflet-control-geocoder-alternatives li {
  border-bottom: 1px solid #28a021;
}

.leaflet-top {
  top: 100px;
}

.leaflet-right {
  right: 400px;
}

.leaflet-control-zoom-in {
  display: none !important;
}

.leaflet-control-zoom-out {
  display: none !important;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip{
  background-color: #000000 !important;
  color: #29A020 !important;
}
.leaflet-popup-close-button {
  display: none !important;
}