h1, h2 { font-family:Extrabold, sans-serif; }
#photo { width:25%; float:left; margin-right:10px; }
.text { font-family:sans-serif; }
/* clear of images to the left */
.clear { clear: left; font-family:sans-serif; }